*{
  padding: 0;
  margin: 0;
}

body{
  background-color:#E85C90;
  text-align: center;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vmin;
}


.box{
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 2vmin;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color:#EDE342;
  background-color: #432371;
}

#reset-btn{
  padding: 15px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #714674;
  color: #EDE342;
}

#reset-btn:hover{
  cursor: pointer;
  background-color: #432371;
  color: #f7e605;
}

.hidden{
  display: none;
}

.newGame-btn{
  padding: 20px;
  font-size: larger;
  border: none;
  border-radius: 5px;
  background-color: #432371;
  color: #EDE342;
  margin-bottom: 15px;
}

.newGame-btn:hover{
  cursor:pointer;
}

#msg{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: larger;
  color: #ffe5ec;
  font-weight: 700;
}

#drawn{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: larger;
  color: #ffe5ec;
  font-weight: 700;
}